p {
font-size: 13px;
}

body {
margin: 3px;
}

#banner-box {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b679e+0,207cca+0,2b88d9+0,fcfcfc+100 */
background: rgb(59,103,158); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(59,103,158,1) 0%, rgba(32,124,202,1) 0%, rgba(43,136,217,1) 0%, rgba(252,252,252,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(59,103,158,1) 0%,rgba(32,124,202,1) 0%,rgba(43,136,217,1) 0%,rgba(252,252,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(59,103,158,1) 0%,rgba(32,124,202,1) 0%,rgba(43,136,217,1) 0%,rgba(252,252,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#fcfcfc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
display:flex;
justify-content: space-between;
text-align:center;
flex-wrap: wrap;
border-bottom-style:solid;
}
#banner-lb-main {
cursor:pointer;
width:30%;
flex:none;
justify-content: space around;
margin: 3px;
padding:3px;
display: flex;
  flex-direction: column;
  justify-content: center;
}

#banner-lb-lib {
cursor:pointer;
width: 30%
flex:none;
display:flex;
justify-content: space around;
margin: 3px;
padding:3px;
  flex-direction: column;
  justify-content: center;
}

#banner-lb-links {
width:30%;
flex:none;
display:flex;
justify-content: space around;
margin: 3px;
padding:3px;
  flex-direction: column;
  justify-content: center;
}

#library-hours-display {
  font: bold 15px Arial;
  text-decoration: none;
  white-space:normal;
  background-color: lightblue;
  color: #333333;
  padding: 4px 12px 4px 12px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  display:inline-block;
}

br {
line-height:28px;
}

#banner-lb-main-small {
display: hide;
}

#bird-img {
height: 80px;
width: 153px;
display: block;
margin:auto;
padding-top: 15px;
padding-bottom: 15px;
}

#lb-img {
box-shadow: 0 0 30px 15px white;
height: 45px;
}

span.nowrap {
display:inline-block;
}

@media only screen and (max-width: 620px){
	#banner-lb-main-small {
		cursor:pointer;
		width:30%;
		flex:none;
		justify-content: space around;
		margin: 3px;
		padding:3px;
		display: flex;
		  flex-direction: column;
		  justify-content: center;
	}

	#banner-lb-main {
		display:hide;
	}
}

@media only screen and (max-width:580px) {

	#banner-box {
	border-bottom-style:none;
	}

	#banner-lb-main {
	width:97%;
	raidus:0px;
	border-bottom-style:solid;
	min-height: 120px;
	}

	#banner-lb-lib{
	width:97%;
	raidus:0px;
	border-bottom-style:solid;
	min-height: 120px;
	}

	#banner-lb-links{
	width:97%;
	raidus:0px;
	border-bottom-style:solid;
	min-height: 120px;
	}

}

#corgi-main {
display:flex;
justify-content: space-between;
text-align:center;
flex-wrap: wrap;
}
#corgi-body {
width:70%;
flex:none;
justify-content: space around;
margin: 3px;
padding:3px;
display: flex;
  flex-direction: column;
  justify-content: center;
  border-right:solid;
}

#corgi-wanted {
width: 25%;
flex:none;
justify-content: space around;
margin: 3px;
padding:3px;
display: flex;
  flex-direction: column;
  justify-content: center;
}



#corgi-wanted-mini {
display:none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	text-wrap: normal;
}

@media only screen and (max-width:580px) {

	#corgi-body{
	width: 97%;
	border-right:none;
	}
	#corgi-wanted {
	display: none;
	}
	#corgi-wanted-mini{
	width: 97%;
	flex:none;
	justify-content: space around;
	margin: 3px;
	padding:3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	}
}
